<block-ui>
<h2 style ="position: relative;bottom: 10px;">SpaceX Launch Program</h2>
<div class="row">
  <div class="side">
    <div class = "sidebarfilters" style = "background: white;height: 100%;border-bottom: 5px solid white;">
    <div>
      <h2>Filters</h2>
      <h3>Launch Year</h3>
      <div class = "hardcodedbuttons" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="50%"  *ngFor="let num of [2006,2007,2008,2009,2010,2012,2013,2014,2015,2016,2017,2018,2019,2020]"> 
        <button (click) = "onClickYears($event,num)" [ngClass]="{activeyear: isActive(num)}" style = "background: #c5e09b;font-size: 16px;" mat-button>{{num}}</button>
      </div>
    </div>
    </div>
    

    <div class = "launching" style = "position:relative;top:40px;">
      <h3>Successful Launch</h3>
      <div class = "hardcodedbuttons slaunch" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="50%"  *ngFor="let bool of ['True','False']"> 
        <button (click) = "onClickSuccessfulLaunch($event,bool)" [ngClass]="{activelaunch: isActive1(bool)}" style = "background: #c5e09b;font-size: 16px;" mat-button>{{bool}}</button>
      </div>
    </div>
    </div>
    

    <div class = "landing" style = "position:relative;top:60px;">
      <h3>Successful Landing</h3>
      <div class = "hardcodedbuttons slanding" fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50%"  *ngFor="let bool of ['True','False']"> 
          <button (click) = "onClickSuccessfulLaunchAndLand($event,bool)" [ngClass]="{activeland: isActive2(bool)}" style = "background: #c5e09b;font-size: 16px;" mat-button>{{bool}}</button>
        </div>
      </div>
    </div>
  </div>
   
  </div>
<div class="content main" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" class="cardsresponsive" fxFlex.xs="100%" fxFlex.sm="50%" class = "divcards" *ngFor="let items of SpacexData">
    <mat-card class="mat-elevation-z4" >
      <mat-card-content>
        <img mat-card-image class = "images-css"  src={{items.links.mission_patch_small}}>
        <div style = "font-weight: bold;color: #0b3579;">{{items.mission_name}} #{{items.flight_number}}</div>
        <ul *ngFor="let ids of items.mission_id">
          <li>
            Mission Ids: {{ids}}
          </li>
        </ul>
        <ul *ngIf = "items.mission_id.length == 0">
          <li>
            Mission Ids: N/A
          </li>
         
        </ul>
        <div style = "padding-bottom: 5px;display: flex;"><div style = "font-weight: bold;padding-right: 5px;">Launch Year:</div> <div style = "color: #3a68b1;">{{items.launch_year}}</div></div>
        <div style = "padding-bottom: 5px;display: flex;"><div style = "font-weight: bold;padding-right: 5px;">Successful Launch:</div> <div style = "color: #3a68b1;">{{items.launch_success}}</div></div>
        <div style = "display: flex;"><div style = "font-weight: bold;padding-right: 5px;">Successful Landing:</div> <div style = "color: #3a68b1;">{{items.rocket.first_stage.cores[0].land_success}}</div></div>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>
<div class="footer">
  <h2 style = "text-align: center;" >Developed by : Lohith N S</h2>
</div>
</block-ui>